* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: auto;
}

nav {
  width: 80%;
  margin: auto;
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

nav h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px 50px 50px 0;
}

.profile .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 400px;
  margin: 50px auto;
  padding: 50px;
}

.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-header,
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.profile .card img,
.profile .card h3,
.profile .card h1 {
  padding: 5px;
}

.profile {
  display: flex;
  flex: 2;
}

.feed {
  display: flex;
  flex: 5;
}
