.card {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 400px;
  margin: auto;
}

.card-header,
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.card-body p {
  display: flex;
  justify-content: center;
}
